<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Naruto About</title>
  </head>
  <body id="NarutoMangaBackground">
    <a href="/home"><img id="returnHome" src="/pngegg (2).png" alt="Home" /></a>
    <div id="aboutInsideBlock">
      <img id="NarutoAbout" src="pngegg.png" alt="Naruto" />
      <div id="blockText">
        <h3 id="Abouth3">
          <span id="About">About</span><span id="Naruto">Naruto</span>
        </h3>
        <p>
          <span id="Naruto2">Naruto</span> is a manga series created by Masashi
          Kishimoto that was serialized in Weekly Shonen Jump. Met with
          immediate popularity following its initial publication in 1999, the
          series went on to receive an anime adaptation that commenced
          broadcasting in 2002.
          <br />
          The manga concluded in 2014 with a total of 700 chapters. The total
          number of print copies sold globally exceeds 250 million, and even now
          Naruto events, games, merchandise, and more continue to be created and
          released for fans to enjoy— a testament to the series’ enduring
          influence and popularity around the world.
        </p>
      </div>

      <div id="options">
        <h3 style="font-size: 30px">Lets see Naruto Works</h3>
        <a href="/works"><img class="drive" src="/Works.png" alt="" /></a>
        <a href="/galary"><img class="drive" src="/Galary.png" alt="" /></a>
      </div>
    </div>
  </body>
</html>
