<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Naruto Galary</title>
  </head>
  <body>
    <a href="/home"><img id="returnHome" src="/pngegg (2).png" alt="Home" /></a>
    <a href="/about"><img class="drive" src="/About.png" alt="About" /></a>
    <a href="/works"><img class="drive" src="/Works.png" alt="About" /></a>

    <div id="container">
      <img class="galary" src="/team7.jpeg" alt="naruto image" />
      <img class="galary" src="/Kakashi.jpeg" alt="naruto image" />
      <img class="galary" src="/Naruto and Fox.jpeg" alt="naruto image" />
      <img class="galary" src="/Naruto e Sasuke.jpeg" alt="naruto image" />
      <img class="galary" src="/Akatsuki.webp" alt="naruto image" />
      <img class="galary" src="/naruto-evolution.jpeg" alt="naruto image" />
    </div>
  </body>
</html>
