<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Naruto Home</title>
  </head>
  <body>
    <nav id="top">
      <img id="logo" src="/pngegg (2).png" alt="Logo Naruto" />
      <a href="/about"><img class="drive" src="/About.png" alt="About" /></a>
      <a href="/works"><img class="drive" src="/Works.png" alt="About" /></a>
      <a href="/galary"><img class="drive" src="/Galary.png" alt="About" /></a>
    </nav>
    <img src="/naruto.gif" alt="Naruto" id="narutoGif" />
    <h2 id="fanPage">Naruto Fan Page!</h2>
  </body>
</html>
