<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Naruto Works</title>
  </head>
  <body>
    <a href="/home"><img id="returnHome" src="/pngegg (2).png" alt="Home" /></a>
    <a href="/about"><img class="drive" src="/About.png" alt="About" /></a>
    <a href="/galary"><img class="drive" src="/Galary.png" alt="" /></a>
    <div style="text-align: center">
      <h1
        style="
          background-color: rgba(0, 0, 0, 0.181);
          color: rgb(255, 102, 0);
          font-weight: bold;
          font-size: 40px;
          text-shadow: 1px 1px 5px rgb(0, 0, 0);
        "
      >
        Naruto and Naruto Shippuden
      </h1>
      <img
        src="/naruto-watch-order.jpg.webp"
        alt="Naruto and Naruto Shippuden image"
      />
    </div>
  </body>
</html>
